.form {
    display: flex;
    flex-direction: column;
}

.label {
    padding: 10px;
}

.input {
    width: 200px;
    margin-left: 10px;
}

.button {
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
    width: 100px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


