.div {
    display: flex;
    justify-content: space-between;
    width: 340px;
    align-items: center;
  }

.name {
    font-size: 15px;
    margin: 10px;
    font-weight: 700;
}

.button {
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}